<a href="https://colab.research.google.com/github/Mathilde-YG/DAS-course/blob/main/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%ED%8A%B9%EA%B0%95_230621.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.3.1 1번 워밍업 문제(google)
#### 큰 문제는 잘게 쪼개서
1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가?

8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다.
(※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)

문제 링크 : https://codingdojang.com/scode/393

In [6]:
str([i for i in range(101)]).count('8')

20

### 1.3.2 2번 워밍업 문제(daum)

1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오. (단 점들의 배열은 모두 정렬되어있다고 가정한다.)

예를들어 S = [1, 3, 4, 8, 13, 17, 20] 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.

문제링크 : https://codingdojang.com/scode/408

In [7]:
data = [1, 3, 4, 8, 13, 17, 20]
list(zip(data, data[1:]))
sorted(zip(data, data[1:]), key=lambda x:x[1]-x[0])
sorted(zip(data, data[1:]), key=lambda x:x[1]-x[0])[0]

(3, 4)

In [8]:
my_list = [1, 2, 3, 4]
my_iter = iter(my_list) # my_list에 __iter__가 호출됩니다.

print(next(my_iter))  # 출력: 1 # my_list에 __next__가 호출됩니다.
print(next(my_iter))  # 출력: 2 # my_list에 __next__가 호출됩니다.

1
2

In [11]:
class MyIterator:
    def __init__(self, stop):
        self.currentValue = 0
        self.stop = stop

    def __iter__(self):
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

my_iterator = MyIterator(5)

for i in my_iterator:
    print(i)

for i in my_iterator:
    print(i)

0
1
2
3
4

In [12]:
# 언패킹
a, b, c, d = range(4)
a, b, c, d

(0, 1, 2, 3)

In [13]:
# 3.9 버전에서 나온 결합연산자
x = {"key1": "value1"}
y = {"key2": "value2"}
z = x | y
z

{'key1': 'value1', 'key2': 'value2'}

In [14]:
x = {"key1": "value1"}
y = {"key2": "value2"}
list(x.items()) + list(y.items())

[('key1', 'value1'), ('key2', 'value2')]

In [ ]:
# 위 방식 말고도 딕셔너리 언패킹 사용 가능
x =